# Environnements virtuels
venv/
.venv/
env/

# Dossiers de test / travail temporaire
sandbox/
sandbox_backup/

# Fichiers sensibles
.env

# Fichiers système et Python
.DS_Store
__pycache__/
*.pyc

# LOGS : On ignore tout le dossier logs...
logs/*
# ...SAUF le fichier de données final qu'on veut récupérer
!logs/experiment_data.json